<%- include('includes/head') %>
    <style>
        .tab-content {
            display: none;
        }

        .tab-content.active {
            display: block;
        }
    </style>

    <div class="flex flex-col items-center justify-center[200px] bg-gray-800 pt-10">
        <h1 class="font-bold text-blue-300 my-3 text-4xl">
            Our <span class="text-yellow-500">Portfolio</span>
        </h1>
        <p class="mx-5 lg:mx-40 text-white mb-10">At Blazync Technologies, we take pride in our diverse portfolio
            showcasing innovative solutions across various
            industries. Our expertise extends to partnering with organizations in healthcare, education, hospitality,
            meditation and
            therapy, and electrical sectors, among others. Each project in our portfolio represents a unique
            collaboration aimed at
            solving industry-specific challenges and driving digital transformation.</p>
        <a href="#job-application" class="my-10"><button
                class="lg:mx-0 bg-yellow-500 text-white text-xl font-bold rounded-full py-4 px-9 focus:outline-none transform transition hover:scale-110 duration-300 ease-in-out">
                Business Inquiry
            </button></a>
    </div>


    <section class="container px-4  lg:px-8 mx-auto max-w-screen-xl text-gray-700 overflow-x-hidden">
        <!-- Class Management Tools for Educators -->
        <div class="flex flex-col md:flex-row items-center mt-12">
            <div data-aos="fade-right" class="md:w-5/12">
                <h1 class="text-darken font-semibold text-2xl leading-tight lg:pr-32">
                    <span class="text-yellow-500">Transform Your Industry </span> with Innovative Technology
                </h1>
                <p class="my-5 lg:pr-14">
                    Experience the power of technology with Blazync Technologies, your trusted partner for software and
                    mobile app development solutions.
                    As a leading application development company based in India, we specialize in delivering
                    technology-driven mobility
                    solutions that elevate business experiences.
                </p>
            </div>
            <img data-aos="fade-left" class="md:w-7/12 rounded-lg" src="img/technology.jpg" />
        </div>
        <hr class="my-10">
        <div>
            <h1 class="font-bold text-darken my-3 text-4xl text-center pb-10">
                Solution in <span class="text-yellow-500">Different Industries</span>
            </h1>
            <div class="grid grid-cols-1 md:grid-cols-3 ">

                <div class="0 w-full p-4">
                    <div class="flex flex-col space-y-4">
                        <button
                            class="tab-btn  px-4 py-2 rounded-md bg-white hover:bg-gray-100 focus:outline-none text-left">1.
                            Education Industry</button>
                        <button
                            class="tab-btn  px-4 py-2 rounded-md bg-white hover:bg-gray-100 focus:outline-none text-left">
                            2. Power Industry</button>
                        <button
                            class="tab-btn  px-4 py-2 rounded-md bg-white hover:bg-gray-100 focus:outline-none text-left">
                            3. Publication Industry </button>
                        <button
                            class="tab-btn  px-4 py-2 rounded-md bg-white hover:bg-gray-100 focus:outline-none text-left">4.
                            E-Commerce Industry</button>

                        <button
                            class="tab-btn  px-4 py-2 rounded-md bg-white hover:bg-gray-100 focus:outline-none text-left">5.
                            Hotel Industry</button>
                        <button
                            class="tab-btn  px-4 py-2 rounded-md bg-white hover:bg-gray-100 focus:outline-none text-left">6.
                            Meditation Industry</button>
                        <button
                            class="tab-btn  px-4 py-2 rounded-md bg-white hover:bg-gray-100 focus:outline-none text-left">7.
                            Event Industry</button>
                        <button
                            class="tab-btn  px-4 py-2 rounded-md bg-white hover:bg-gray-100 focus:outline-none text-left">8.
                            Publication Industry</button>
                        <button
                            class="tab-btn  px-4 py-2 rounded-md bg-white hover:bg-gray-100 focus:outline-none text-left">9.
                            Health Industry</button>
                        <button
                            class="tab-btn  px-4 py-2 rounded-md bg-white hover:bg-gray-100 focus:outline-none text-left">10.
                            Packaging Industry</button>
                    </div>
                </div>
                <div class="p-4 w-full col-span-2">
                    <div id="tab1" class="tab-content active">

                        <h2 class="text-3xl font-semibold text-blue-600 mb-4">Education Industry</h2>
                        <p class="mb-4">Educational institutions require robust systems to manage student data,
                            facilitate online learning,
                            and support administrative functions. Blazync provides tailored solutions that enhance
                            learning experiences,
                            streamline administration, and support remote education.</p>
                        <p>Our solutions include:</p>
                        <ul class="list-disc ml-6">
                            <li>Learning Management Systems (LMS)</li>
                            <li>Student Information Systems (SIS)</li>
                            <li>Online assessment platforms</li>
                        </ul>
                    </div>
                    <div id="tab2" class="tab-content">
                        <h2 class="text-3xl font-semibold mb-4">Power Industry</h2>
                        <p class="mb-4">
                            <strong>Challenges:</strong> Managing assets, ensuring reliable energy distribution,
                            complying with regulations, and
                            predicting maintenance needs.
                        </p>
                        <p class="mb-4">
                            <strong>Technological Solutions:</strong> Smart grids, asset management systems, predictive
                            maintenance software,
                            and regulatory compliance tools.
                        </p>
                        <p class="mb-4">
                            <strong>How We Help:</strong> Blazync Technologies offers innovative solutions that optimize
                            energy management,
                            improve operational efficiency, and ensure compliance with industry standards and
                            regulations.
                        </p>
                    </div>
                    <div id="tab3" class="tab-content">
                        <h2 class="text-3xl font-semibold mb-4">Publication Industry</h2>
                        <p class="mb-4">
                            <strong>Challenges:</strong> Managing content, streamlining production processes, reaching a
                            wider audience, and
                            monetizing content.
                        </p>
                        <p class="mb-4">
                            <strong>Technological Solutions:</strong> Content management systems (CMS), digital
                            publishing platforms, and
                            marketing automation tools.
                        </p>
                        <p class="mb-4">
                            <strong>How We Help:</strong> Blazync Technologies offers solutions that simplify content
                            management, enhance
                            production efficiency, and expand audience reach through digital platforms and marketing
                            automation.
                        </p>
                    </div>
                    <div id="tab4" class="tab-content">
                        <h2 class="text-3xl font-semibold mb-4">E-commerce Industry</h2>
                        <p class="mb-4">
                            <strong>Challenges:</strong> Managing product listings, processing transactions, enhancing
                            customer experience, and
                            handling logistics.
                        </p>
                        <p class="mb-4">
                            <strong>Technological Solutions:</strong> E-commerce platforms, secure payment gateways,
                            customer relationship
                            management (CRM) systems, and logistics management tools.
                        </p>
                        <p class="mb-4">
                            <strong>How We Help:</strong> Our solutions for the e-commerce industry enhance operational
                            efficiency, improve
                            customer experiences, and drive sales growth through integrated and secure e-commerce
                            platforms.
                        </p>
                    </div>
                    <div id="tab5" class="tab-content">
                        <h2 class="text-3xl font-semibold mb-4">Hotel Industry</h2>
                        <p class="mb-4">
                            <strong>Challenges:</strong> Managing reservations, providing excellent customer service,
                            optimizing operations, and
                            enhancing guest experiences.
                        </p>
                        <p class="mb-4">
                            <strong>Technological Solutions:</strong> Property management systems (PMS), online booking
                            platforms, customer
                            relationship management (CRM) systems, and mobile apps for guest services.
                        </p>
                        <p class="mb-4">
                            <strong>How We Help:</strong> Blazync Technologies offers tailored solutions that improve
                            guest experience,
                            streamline operations, and increase revenue through efficient management and enhanced
                            customer service.
                        </p>
                    </div>
                    <div id="tab6" class="tab-content">
                        <h2 class="text-3xl font-semibold mb-4">Meditation and Therapy Industry</h2>
                        <p class="mb-4">
                            <strong>Challenges:</strong> Efficient client management, session scheduling, tracking
                            client progress, and
                            providing remote therapy options.
                        </p>
                        <p class="mb-4">
                            <strong>Technological Solutions:</strong> Mobile apps for meditation, client management
                            systems, virtual session
                            platforms, and progress tracking tools.
                        </p>
                        <p class="mb-4">
                            <strong>How We Help:</strong> Blazync Technologies develops personalized solutions that
                            streamline operations,
                            enhance client engagement, and track progress effectively through user-friendly technology.
                            We offer mobile apps
                            that facilitate remote sessions and tools to monitor client progress, ensuring a holistic
                            and effective therapy
                            experience.
                        </p>
                    </div>
                    <div id="tab7" class="tab-content">
                        <h2 class="text-3xl font-semibold mb-4">Event Industry</h2>
                        <p class="mb-4">
                            <strong>Challenges:</strong> Managing registrations, enhancing attendee engagement,
                            coordinating logistics, and
                            analyzing event performance.
                        </p>
                        <p class="mb-4">
                            <strong>Technological Solutions:</strong> Event management software, mobile apps for
                            attendees, virtual event
                            platforms, and data analytics tools.
                        </p>
                        <p class="mb-4">
                            <strong>How We Help:</strong> Our solutions for the event industry ensure smooth event
                            management, boost attendee
                            engagement, and provide valuable insights through comprehensive analytics.
                        </p>
                    </div>
                    <div id="tab8" class="tab-content">
                        <h2 class="text-3xl font-semibold mb-4">Publication Industry</h2>
                        <p class="mb-4">
                            <strong>Challenges:</strong> Managing content, streamlining production processes, reaching a
                            wider audience, and
                            monetizing content.
                        </p>
                        <p class="mb-4">
                            <strong>Technological Solutions:</strong> Content management systems (CMS), digital
                            publishing platforms, and
                            marketing automation tools.
                        </p>
                        <p class="mb-4">
                            <strong>How We Help:</strong> Blazync Technologies offers solutions that simplify content
                            management, enhance
                            production efficiency, and expand audience reach through digital platforms and marketing
                            automation. Our tailored
                            systems help manage the entire publication process, from content creation to distribution
                            and monetization.
                        </p>
                    </div>
                    <div id="tab9" class="tab-content">
                        <h2 class="text-3xl font-semibold mb-4">Healthcare Industry</h2>
                        <p class="mb-4">
                            <strong>Challenges:</strong> Managing patient data, improving patient care, ensuring
                            compliance with regulations,
                            and optimizing resource allocation.
                        </p>
                        <p class="mb-4">
                            <strong>Technological Solutions:</strong> Electronic health records (EHR), telemedicine
                            platforms, patient
                            management systems, and data security solutions.
                        </p>
                        <p class="mb-4">
                            <strong>How We Help:</strong> At Blazync Technologies, we develop customized healthcare
                            solutions that enhance
                            patient care, improve operational efficiency, and ensure data security and compliance with
                            industry standards.
                        </p>
                    </div>
                    <div id="tab10" class="tab-content">
                        <h2 class="text-3xl font-semibold mb-4">Packaging Industry</h2>
                        <p class="mb-4">
                            <strong>Challenges:</strong> Managing inventory, scheduling production, ensuring quality
                            control, and optimizing
                            supply chain operations.
                        </p>
                        <p class="mb-4">
                            <strong>Technological Solutions:</strong> Enterprise resource planning (ERP) systems,
                            automation tools, and data
                            analytics for quality control.
                        </p>
                        <p class="mb-4">
                            <strong>How We Help:</strong> We provide tailored solutions that optimize inventory
                            management, enhance production
                            efficiency, and ensure quality control through advanced technology and automation.
                        </p>
                    </div>
                </div>
            </div>
        </div>


        <hr class="my-20">
        <div>
            <h1 class="font-bold text-darken my-3 text-4xl text-center pb-10">
                Our <span class="text-yellow-500">Works</span>
            </h1>
            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
                <!-- Portfolio Item 1 -->
                <div class="gallery-item overflow-hidden shadow-lg rounded-lg bg-white" data-aos="fade-up">
                    <img class="w-full h-auto" src="img/portfolio/thewellfoodhotel1.jpg" alt="The Well Food Hotel">
                    <div class="p-4">
                        <!-- Add any additional content here -->
                    </div>
                </div>

                <!-- Portfolio Item 2 -->
                <div class="gallery-item overflow-hidden shadow-lg rounded-lg bg-white" data-aos="fade-up"
                    data-aos-delay="100">
                    <img class="w-full h-auto" src="img/portfolio/thewellfoodhotel2.jpg" alt="Portfolio Image 2">
                    <div class="p-4">
                        <!-- Add any additional content here -->
                    </div>
                </div>

                <!-- Portfolio Item 3 -->
                <div class="gallery-item overflow-hidden shadow-lg rounded-lg bg-white" data-aos="fade-up"
                    data-aos-delay="200">
                    <img class="w-full h-auto" src="img/portfolio/amriteventcreation1.jpg" alt="Portfolio Image 3">
                    <div class="p-4">
                        <!-- Add any additional content here -->
                    </div>
                </div>


                <div class="gallery-item overflow-hidden shadow-lg rounded-lg bg-white" data-aos="fade-up">
                    <img class="w-full h-auto" src="img/portfolio/amriteventcreation2.jpg" alt="The Well Food Hotel">
                    <div class="p-4">
                        <!-- Add any additional content here -->
                    </div>
                </div>

                <!-- Portfolio Item 2 -->
                <div class="gallery-item overflow-hidden shadow-lg rounded-lg bg-white" data-aos="fade-up"
                    data-aos-delay="100">
                    <img class="w-full h-auto" src="img/portfolio/amriteventcreation3.jpg" alt="Portfolio Image 2">
                    <div class="p-4">
                        <!-- Add any additional content here -->
                    </div>
                </div>

                <!-- Portfolio Item 3 -->
                <div class="gallery-item overflow-hidden shadow-lg rounded-lg bg-white" data-aos="fade-up"
                    data-aos-delay="200">
                    <img class="w-full h-auto" src="img/portfolio/rrrelectricals1.jpg" alt="Portfolio Image 3">
                    <div class="p-4">
                        <!-- Add any additional content here -->
                    </div>
                </div>


                <div class="gallery-item overflow-hidden shadow-lg rounded-lg bg-white" data-aos="fade-up">
                    <img class="w-full h-auto" src="img/portfolio/rrrelectricals2.jpg" alt="The Well Food Hotel">
                    <div class="p-4">
                        <!-- Add any additional content here -->
                    </div>
                </div>

                <!-- Portfolio Item 2 -->
                <div class="gallery-item overflow-hidden shadow-lg rounded-lg bg-white" data-aos="fade-up"
                    data-aos-delay="100">
                    <img class="w-full h-auto" src="img/portfolio/rrrelectricals3.jpg" alt="Portfolio Image 2">
                    <div class="p-4">
                        <!-- Add any additional content here -->
                    </div>
                </div>

                <!-- Portfolio Item 3 -->
                <div class="gallery-item overflow-hidden shadow-lg rounded-lg bg-white" data-aos="fade-up"
                    data-aos-delay="200">
                    <img class="w-full h-auto" src="img/portfolio/twinbrothers1.jpg" alt="Portfolio Image 3">
                    <div class="p-4">
                        <!-- Add any additional content here -->
                    </div>
                </div>

                <!-- Portfolio Item 3 -->
                <div class="gallery-item overflow-hidden shadow-lg rounded-lg bg-white" data-aos="fade-up"
                    data-aos-delay="200">
                    <img class="w-full h-auto" src="img/portfolio/twinbrothers2.jpg" alt="Portfolio Image 3">
                    <div class="p-4">
                        <!-- Add any additional content here -->
                    </div>
                </div>

                <!-- Add more portfolio items as needed -->
            </div>
        </div>
        <hr class="my-20">
        <div class="text-gray-700 body-font">
            <h1 class="text-4xl font-bold mb-4 text-center">
                Why choose<span class="text-yellow-500">Us?</span>
            </h1>
            <div class="container px-5  mx-auto">
                <div class="flex flex-wrap text-center justify-center">
                    <div class="p-4 md:w-1/4 sm:w-1/2">
                        <div class="px-4 py-6 transform transition duration-500 hover:scale-110">
                            <div class="flex justify-center">
                                <img src="https://image3.jdomni.in/banner/13062021/58/97/7C/E53960D1295621EFCB5B13F335_1623567851299.png?output-format=webp"
                                    class="w-32 mb-3">
                            </div>
                            <h2 class="title-font font-regular text-2xl text-gray-900">Latest Technologies</h2>
                        </div>
                    </div>

                    <div class="p-4 md:w-1/4 sm:w-1/2">
                        <div class="px-4 py-6 transform transition duration-500 hover:scale-110">
                            <div class="flex justify-center">
                                <img src="https://image2.jdomni.in/banner/13062021/3E/57/E8/1D6E23DD7E12571705CAC761E7_1623567977295.png?output-format=webp"
                                    class="w-32 mb-3">
                            </div>
                            <h2 class="title-font font-regular text-2xl text-gray-900">Reasonable Rates</h2>
                        </div>
                    </div>

                    <div class="p-4 md:w-1/4 sm:w-1/2">
                        <div class="px-4 py-6 transform transition duration-500 hover:scale-110">
                            <div class="flex justify-center">
                                <img src="https://image3.jdomni.in/banner/13062021/16/7E/7E/5A9920439E52EF309F27B43EEB_1623568010437.png?output-format=webp"
                                    class="w-32 mb-3">
                            </div>
                            <h2 class="title-font font-regular text-2xl text-gray-900">Time Efficiency</h2>
                        </div>
                    </div>

                    <div class="p-4 md:w-1/4 sm:w-1/2">
                        <div class="px-4 py-6 transform transition duration-500 hover:scale-110">
                            <div class="flex justify-center">
                                <img src="https://image3.jdomni.in/banner/13062021/EB/99/EE/8B46027500E987A5142ECC1CE1_1623567959360.png?output-format=webp"
                                    class="w-32 mb-3">
                            </div>
                            <h2 class="title-font font-regular text-2xl text-gray-900">Expertise in Industry</h2>
                        </div>
                    </div>

                </div>
            </div>
        </div>


        <hr class="my-10">
        <div class="relative z-40 mx-auto mt-12">
            <h1 class="font-bold text-blue-300 my-3 text-4xl text-center mb-10">
                Industries <span class="text-yellow-500 ">We work with</span>
            </h1>
            <div class="flex flex-wrap justify-center mx-auto lg:w-full md:w-5/6 xl:shadow-small-blue">

                <a href="#" class="block w-1/2 py-10 text-center border lg:w-1/4">
                    <div>
                        <img src="https://redpixelthemes.com/assets/images/icon-portfolio-green.svg"
                            class="block mx-auto">

                        <p
                            class="pt-4 text-sm font-medium capitalize font-body text-green-900 lg:text-lg md:text-base md:pt-6">
                            Education
                        </p>
                    </div>
                </a>

                <a href="#" class="block w-1/2 py-10 text-center border lg:w-1/4">
                    <div>

                        <img src="https://redpixelthemes.com/assets/images/icon-business-green.svg"
                            class="block mx-auto">
                        <p
                            class="pt-4 text-sm font-medium capitalize font-body text-green-900 lg:text-lg md:text-base md:pt-6">
                            Power
                        </p>
                    </div>
                </a>

                <a href="#" class="block w-1/2 py-10 text-center border lg:w-1/4">
                    <div>
                        <img src="https://redpixelthemes.com/assets/images/icon-ecommerce-green.svg"
                            class="block mx-auto">

                        <p
                            class="pt-4 text-sm font-medium capitalize font-body text-green-900 lg:text-lg md:text-base md:pt-6">
                            E-Commerce
                        </p>
                    </div>
                </a>

                <a href="#" class="block w-1/2 py-10 text-center border lg:w-1/4">
                    <div>
                        <img src="https://redpixelthemes.com/assets/images/icon-startup-green.svg"
                            class="block mx-auto">

                        <p
                            class="pt-4 text-sm font-medium capitalize font-body text-green-900 lg:text-lg md:text-base md:pt-6">
                            Hotel
                        </p>
                    </div>
                </a>

                <a href="#" class="block w-1/2 py-10 text-center border lg:w-1/4">
                    <div>
                        <img src="https://redpixelthemes.com/assets/images/icon-blog-green.svg" class="block mx-auto">

                        <p
                            class="pt-4 text-sm font-medium capitalize font-body text-green-900 lg:text-lg md:text-base md:pt-6">
                            Meditation and Therapy
                        </p>
                    </div>
                </a>

                <a href="#" class="block w-1/2 py-10 text-center border lg:w-1/4">
                    <div>
                        <img src="https://redpixelthemes.com/assets/images/icon-lifestyle-green.svg"
                            class="block mx-auto">

                        <p
                            class="pt-4 text-sm font-medium capitalize font-body text-green-900 lg:text-lg md:text-base md:pt-6">
                            Event
                        </p>
                    </div>
                </a>

                <a href="#" class="block w-1/2 py-10 text-center border lg:w-1/4">
                    <div>
                        <img src="https://redpixelthemes.com/assets/images/icon-landing-page-green.svg"
                            class="block mx-auto">

                        <p
                            class="pt-4 text-sm font-medium capitalize font-body text-green-900 lg:text-lg md:text-base md:pt-6">
                            Publication
                        </p>
                    </div>
                </a>

                <a href="#" class="block w-1/2 py-10 text-center border lg:w-1/4">
                    <div>
                        <img src="https://redpixelthemes.com/assets/images/icon-health-green.svg" class="block mx-auto">

                        <p
                            class="pt-4 text-sm font-medium capitalize font-body text-green-900 lg:text-lg md:text-base md:pt-6">
                            Health
                        </p>
                    </div>
                </a>

            </div>

        </div>

        <div class="bg-gray-700 py-5 rounded-lg mt-20">
            <h1 class="font-bold text-blue-300  text-4xl text-center">

                Still have <span class="text-yellow-500">any Queries?</span>
            </h1>
            <a href="/contact">
                <button data-aos="flip-up"
                    class="px-5 py-3 border bg-yellow-500 text-white font-medium my-5 focus:outline-none transform transition hover:scale-110 duration-300 ease-in-out rounded-full mx-auto block">
                    Get In Touch With Us
                </button>
            </a>
        </div>
    </section>

    <script>
        const tabButtons = document.querySelectorAll('.tab-btn');
        const tabContents = document.querySelectorAll('.tab-content');

        tabButtons.forEach((button, index) => {
            button.addEventListener('click', () => {
                tabButtons.forEach(btn => btn.classList.remove('text-yellow-500'));
                tabContents.forEach(content => content.classList.remove('active'));

                button.classList.add('text-yellow-500');
                tabContents[index].classList.add('active');
            });
        });
    </script>
    <%- include('includes/footer') %>